ErrorDocument 404 /errors/filenotfound.html

Options +FollowSymlinks -MultiViews
RewriteEngine on


# Force PHP extension if not a directory
#RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
#RewriteRule ^(.*)$ - [L]

#RewriteCond %{DOCUMENT_ROOT}/$1.html -f
#RewriteRule ^((.*/)*[^./]+)/*$ $1.html [L]


# to make `/path/index.html` to /path/
RewriteCond %{THE_REQUEST} ^GET\s(.*/)index\.html [NC]
RewriteRule . %1 [NE,R=301,L]

RewriteCond %{THE_REQUEST} ^GET\s.+\.html [NC]
RewriteRule ^(.+)\.html$ /$1 [NE,R=301,L,NC]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.*?)/?$ $1.html [L]
