<div class="col-sm-4 col-md-3 box-vert-padding">
    <div class="dummy"></div>
    <div class="in fill">
        <ul id="nav">
            <li><a href="{{ site.baseurl }}/programming/code_it/"><i class="fa fa-home fa-fw"></i>Home</a></li>
            <li><a href="{{ site.baseurl }}/programming/code_it/setup/"><i class="fa fa-desktop fa-fw"></i>Setup</a></li>
            <li><a href="{{ site.baseurl }}/programming/code_it/week1/"><i class="fa fa-code fa-fw"></i>Week 1</a></li>
            <li><a href="{{ site.baseurl }}/programming/code_it/week2/"><i class="fa fa-code fa-fw"></i>Week 2</a></li>
            <li><a href="{{ site.baseurl }}/programming/code_it/resources/"><i class="fa fa-laptop fa-fw"></i>Resources</a></li>
        </ul>
    </div>
</div>