<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-md-offset-3">
                <div class="footer-contents">
                    <div>
                        <div class="footer-item"><a href="{{ site.baseurl }}/"><i class="mdi mdi-home mdi-18px"></i>Home</a></div>
                        <div class="footer-item"><a href="mailto:julia@juliaebert.com"><i class="mdi mdi-email mdi-18px"></i>Contact</a></div>
                        <div class="footer-item">&#169; {{ site.time | date: '%Y' }}, designed by Julia Ebert</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>