<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-md-offset-3">
                <div class="footer-contents">
                    <div>
                        <div class="footer-item">&#169; 2015, designed by Julia Ebert</div>
                        <div class="footer-item"><a href="{{ site.baseurl }}/"><i class="fa fa-home fa-lg"></i>Home</a></div>
                        <div class="footer-item"><a href="mailto:julia@juliaebert.com"><i class="fa fa-envelope"></i>Contact</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>