<table class="listing" id="education">
    <thead>
    <tr><th colspan="2"><a href="#education"><h2>Education</h2></a></th></tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <h3>Northeastern University</h3>
            <p>Candidate for Bachelor of Science in Behavioral Neuroscience</p>
            <p>Minor in Computer Science</p>
            <p><em>GPA:</em> 3.98/4.0</p>
            <p><em>Honors:</em> National Merit Scholar, Honors Program, Dean's List</p>
        </td>
        <td>
            <h5>Boston, MA</h5>
            <h4>2010-2015, Anticipated</h4>
        </td>
    </tr>
    </tbody>
</table>

<table class="listing" id="research">
    <thead>
    <tr><th colspan="2"><a href="#research"><h2>Research Experience</h2></a></th></tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a href="http://www.northeastern.edu/actionlab/">
                <h3>Northeastern University Action Lab</h3>
            </a>
            <h4>Volunteer Research Assistant; Research Co-op; Honors Project</h4>
            <h4><b>Advisor:</b> Prof. Dagmar Sternad</h4>
            <h5><b>Project:</b> Learning and long-term retention of a novel bimanual task</h5>
            <h5><b>Project:</b> Effects of central fatigue on cognitive and motor performance</h5>
            <ul>
                <li>Collect data from human participants in motor control experiments, including electoencephalogram (EEG)</li>
                <li>Program data collection protocols and analysis tools with Matlab and Psychtoolbox</li>
                <li>Participate in and present at lab meetings on movement neuroscience</li>
            </ul>
        </td>
        <td>
            <h5>Boston, MA</h5>
            <h4>2011 September - present</h4>
            <h4>Co-op:<br/>2012 July - December, 2014 September - December</h4>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Interactive Motion Technologies</h3>
            <h4>Software development co-op</h4>
            <ul>
                <li>Designed specifications for stroke evaluation software with input from clinicians, researchers, and software developers</li>
                <li>Developed software to store and automate clinician stroke evaluations with an HTML5 and JavaScript front end and a Django and SQL back end</li>
            </ul>
        </td>
        <td>
            <h5>Watertown, MA</h5>
            <h4>2014 July - September</h4>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www-amd.is.tuebingen.mpg.de/">
                <h3>Max Planck Institute for Intelligent Systems, Autonomous Motion Department</h3>
            </a>
            <h4>Undergraduate Research Co-op</h4>
            <h4><b>Advisor:</b> Prof. Stefan Schaal, Director of Max Planck Institute</h4>
            <h5><b>Project:</b> Learning mapping of high-dimensional movements to Euclidean space</h5>
            <ul>
                <li>Designed and developed experiments for the CyberGlove data glove</li>
                <li>Collaborated with a post-doctoral researcher to develop reinforcement learning models of a novel motor skill task</li>
                <li>Collected pilot behavioral data from human subjects</li>
                <li>Attended seminars and lab meetings on robotics and machine learning</li>
            </ul>
        </td>
        <td>
            <h5>T&uuml;bingen, Germany</h5>
            <h4>2013 July - December</h4>
        </td>
    </tr>
    </tbody>
</table>

<table class="listing" id="teaching">
    <thead>
    <tr><th colspan="2"><a href="teaching"><h2>Teaching Experience</h2></a></th></tr>
    </thead>
    <tbody>
    <tr><td></td></tr>
    <tr>
        <td>
            <h3>Northeastern University Department of Computer Science</h3>
            <h4>Computer Science Fundamentals Teaching Assistant</h4>
            <ul>
                <li>Teach two weekly lab courses of 30-50 students each</li>
                <li>Grade student exams and quizzes</li>
                <li>Hold twice-weekly office hours to assist students with course material</li>
            </ul>
        </td>
        <td>
            <h5>Boston, MA</h5>
            <h4>2014 September - present</h4>
        </td>
    </tr>
    <tr>
        <td>
            <h4>Computer Science Fundamentals Tutor</h4>
            <ul>
                <li>Assisted college students in weekly introductory computer science labs</li>
                <li>Graded weekly student programming assignments</li>
                <li>Tutored students in course material at office hours</li>
            </ul>
        </td>
        <td>
            <h4>2012 September - 2014 April</h4>
        </td>
    </tr>
    </tbody>
</table>

<table class="listing" id="scholarships">
    <thead>
    <tr><th colspan="2"><a href="#scholarships"><h2>Scholarships, Grants, and Awards</h2></a></th></tr>
    </thead>
    <tbody>
    <tr>
        <td>Marshall Scholarship</td>
        <td><h4>2015-2016</h4></td>
    </tr>
    <tr>
        <td>Fulbright Scholarship Finalist</td>
        <td><h4>2015</h4></td>
    </tr>
    <tr>
        <td>Northeastern University Provost Undergraduate Advanced Research Award</td>
        <td><h4>2014</h4></td>
    </tr>
    <tr>
        <td>Rhodes Scholarship Finalist</td>
        <td><h4>2014</h4></td>
    </tr>
    <tr>
        <td>Mitchell Scholarship Finalist</td>
        <td><h4>2014</h4></td>
    </tr>
    <tr>
        <td>Barry M. Goldwater Scholarship</td>
        <td><h4>2013-2015</h4></td>
    </tr>
    <tr>
        <td>DAAD Undergraduate Scholarship</td>
        <td><h4>2013</h4></td>
    </tr>
    <tr>
        <td>Northeastern University Provost Undergraduate Research Award</td>
        <td><h4>2013</h4></td>
    </tr>
    <tr>
        <td>Northeastern University Presidential Global Scholarship</td>
        <td><h4>2013</h4></td>
    </tr>
    </tbody>
</table>

<table class="listing" id="conferences-presentations">
    <thead>
    <tr><th colspan="2"><a href="#conferences-presentations"><h2>Conferences and Presentations</h2></a></th></tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <h3>Society for the Neural Control of Movement 24th Annual Meeting</h3>
            <h4>Poster Presenter</h4>
            <p>Ebert J, Kim S, Sternad D, & Schaal S. <em>Learning and exploration in a novel dimensionality-reduction task.</em></p>
        </td>
        <td>
            <h5>Amsterdam, NL</h5>
            <h4>2014 April 20-25</h4>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.northeastern.edu/rise/">
                <h3>Northeastern University Research, Innovation and Scholarship Expo</h3>
            </a>
            <h4>Poster presenter</h4>
            <p>Ebert J, Park S, & Sternad D. <em>Asymmetric Learning in an Asymmetric Bimanual Task.</em></p>
        </td>
        <td>
            <h5>Boston, MA</h5>
            <h4>2014 April 10</h4>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.une.edu/nurds/">
                <h3>Northeast Undergraduate Research and Development Symposium</h3>
            </a>
            <h4>Poster Presenter</h4>
            <p>Ebert J, Park S, & Sternad D. <em>Asymmetric Learning in an Asymmetric Bimanual Task.</em></p>
        </td>
        <td>
            <h5>Biddeford, ME</h5>
            <h4>2013 March 2-3</h4>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Society for Neuroscience 42nd Annual Meeting</h3>
            <h4>Participant</h4>
        </td>
        <td>
            <h5>New Orleans, LA</h5>
            <h4>2012 October 13-17</h4>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Northeastern University Research, Innovation and Scholarship Expo</h3>
            <h4>Poster presenter</h4>
            <p>Ebert J, Park S, Griffin L, O'Neil-Pirozzi T, Sternad D. <em>Central Fatigue in Cognitive and Motor Performance.</em></p>
        </td>
        <td>
            <h5>Boston, MA</h5>
            <h4>2012 March 29</h4>
        </td>
    </tr>
    </tbody>
</table>

<table class="listing" id="hobbies">
    <thead>
        <tr><th colspan="2"><a href="#hobbies"><h2>Interests</h2></a></th></tr>
    </thead>
    <tbody>
    <tr><td></td></tr>
    <tr><td>
        <h3>Music</h3>
        <p>Clarinet and percussion<p>
        <p>Member of Northeastern University Pep Band, Drumline (co-section leader), and Wind Ensemble (manager, treasurer)</p>
    </td></tr>
    <tr><td>
        <h3>Community Service</h3>
        <p>Northeastern University Civic Engagement Program</p>
        <p>Boston Bikes Volunteer</p>
        <p>Husky Volunteer Team leader (2014)</p>
        <p>Brigham and Women's Hospital Medical Career Exploration Program Volunteer (2011-2013)</p>
        <p>Massachusetts General Hospital Youth Program Volunteer Mentor (2010-2011)</p>
    </td></tr>
    <tr><td>
        <h3>Languages</h3>
        <p>Fluent in English and German</p>
    </td></tr>
    <tr><td>
        <h3>Other</h3>
        <p>Curling, web development, graphic and web design, novel writing, Math Club (secretary)</p>
    </td></tr>
    </tbody>
</table>