<div class="row"> <!-- Row 1 -->
    <div class="col-sm-4 col-md-3 col-xs-6 box-vert-padding" id="logo-box">
        <div class="dummy fill"></div>
        <a href="/">
            <img class="in logo-box" id="logo-light" src="/assets/imgs/logos/JTE-light.svg"/>
            <img class="in logo-box" id="logo-dark" src="/assets/imgs/logos/JTE-dark.svg"/>
        </a>
    </div>
    <div class="col-sm-4 col-md-3 hidden-xs box-vert-padding">
        <div class="dummy fill"></div>
        <div class="in"><h1 class="name">Julia <b>Ebert</b></h1></div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 visible-xs visible-sm hidden-md box-vert-padding">
        {% include menu.html %}
    </div>
</div>