---
layout: page
title: Curriculum Vitae
---

<h1><i class="mdi mdi-file mdi-48px mdi-left"></i>{{ page.title }}</h1>
<p><a href="{{site.baseurl }}/assets/pdfs/ebert-julia.cv.pdf"><i class="fa fa-file-pdf-o"></i>View as PDF</a></p>

<hr/>

<div class="cv">

    <h1 id="education"><a class="section" href="#education">Education</a></h1>

    <h2>Harvard University</h2><span class="div">|</span><h4>PhD candidate in Computer Science, <span class="date">2016 – present</span></h4>
    <p>Advisor: Prof. Radhika Nagpal</p>

    <h2>Imperial College London</h2><span class="div">|</span><h4>Master of Research in Bioengineering, with Distinction, <span class="date">2016</span></h4>
    <p>Advisors: Prof. Etienne Burdet, Dr. Ildar Farkhatdinov<br/>
    Thesis: <i>Assisting Balance Recovery with a Lower Limb Exoskeleton</i></p>

    <h2>Northeastern University</h2><span class="div">|</span><h4>BS in Behavioral Neuroscience, Minor in Computer Science<span class="date">2015</span></h4>
    <p>GPA: 3.98 / 4.0, summa cum laude<br/>
        Honors Thesis: <i>Asymmetric Learning in an Asymmetric Bimanual Task</i></p>

    <!-- ------------------------------------------------------------------------- -->
    <hr/>

    <h1 id="research"><a class="section" href="#research">Research</a></h1>

    <h2><a href="https://ssr.seas.harvard.edu">Harvard Self-organizing Systems Research Group</a></h2><span class="div">|</span><h4>Prof. Radhika Nagpal</h4><br/>
    <p>LARVAbot: Locomotion of autonomous robots via aggregation, <span class="date">2017 – present</span><br/>
    Multi-feature perception and decision making in robot collectives, <span class="date">2016 – present</span></p>

    <h2><a href="https://www.imperial.ac.uk/human-robotics">Imperial College Human Robotics Group</a></h2><span class="div">|</span><h4>Prof. Etienne Burdet, Dr. Ildar Farkhatdinov</h4><br/>
    <p>Co-control of balance recovery in a lower limb exoskeleton, <span class="date">2015 – 2016</span></p>

    <h2><a href="https://www.northeastern.edu/actionlab/">Northeastern University Action Lab</a></h2><span class="div">|</span><h4>Prof. Dagmar Sternad</h4><br/>
    <p>Prediction and stability in control of objects with complex dynamics, <span class="date">2014 – 2015</span><br/>
    Learning and long-term retention of an asymmetric bimanual task, <span class="date">2012 – 2015</span><br/>
    Effects of central fatigue on cognitive and motor performance, <span class="date">2011 – 2012</span></p>


    <h2><a href="http://www.neurotechnology.neu.edu/">Northeastern University Marine Science Center</a></h2><span class="div">|</span><h4>Prof. Joseph Ayers</h4><br/>
    <p>Neuro-inspired rheotaxis and antenna design in a robotic lobster, <span class="date">May – August 2015</span></p>

    <h2><a href="https://am.is.tuebingen.mpg.de/">Max Planck Institute for Intelligent Systems, Autonomous Motion Department</a></h2><span class="div">|</span><h4>Prof. Stefan Schaal</h4><br>
    <p>Learning and exploration in a novel dimensionality-reduction task, <span class="date">July – December 2013</span></p>

    <!-- ------------------------------------------------------------------------- -->
    <hr/>

    <h1 id="grants"><a class="section" href="#grants">Grants and Scholarships</a></h1>
    <table>
        <tbody>
        <tr><td>2016</td><td><a href="https://www.krellinst.org/csgf/">
            Department of Energy Computational Science Graduate Fellowship (DOE CSGF)</a></td></tr>
        <tr><td>2015</td><td><a href="http://www.marshallscholarship.org/">
            Marshall Scholarship</a></td></tr>
        <tr><td>2014</td><td><a href="https://undergraduate.northeastern.edu/research/awards/undergraduate-research-and-creative-endeavor-awards/">
            Northeastern Provost Undergraduate Advanced Research Award</a></td></tr>
        <tr><td>2013</td>
            <td><a href="https://goldwater.scholarsapply.org/">Goldwater Scholarship</a></td></tr>
        <tr><td>2013</td><td>Northeastern Provost Undergraduate Research Award</td></tr>
        <tr><td>2013</td><td><a href="https://www.daad.org/en/find-funding/undergraduate-opportunities/undergraduate-scholarship/">
            DAAD Undergraduate Scholarship</a></td></tr>
        <tr><td>2013</td><td><a href="https://studentfinance.northeastern.edu/applying-for-aid/undergraduate/types-of-aid/scholarships/presidential-global-scholars-program/">
            Northeastern Presidential Global Scholarship</a></td></tr>
        <tr><td>2010</td><td>Northeastern National Merit Scholarship</td></tr>
    </table>

    <!-- ------------------------------------------------------------------------- -->
    <hr/>

    <h1 id="awards"><a class="section" href="#awards">Awards</a></h1>
    <table>
        <tbody>
        <tr><td>2016</td><td><a href="https://hertzfoundation.org/">
            Hertz Fellowship</a> Finalist</td></tr>
        <tr><td>2016</td><td><a href="https://www.nsfgrfp.org/">
            NSF Graduate Research Fellowship Program (GRFP)</a> Honorable Mention</td></tr>
        <tr><td>2015</td><td><a href="https://www.northeastern.edu/honors/academics-3/honors-requirements-distinctions/">
            Northeastern University Honors Program Distinction</a></td></tr>
        <tr><td>2015</td><td><a href="https://www.northeastern.edu/cos/current-students/current-cos-undergraduate-students/college-honors/college-honors-in-behavioral-neuroscience/">
            Northeastern Honors in the Discipline, Behavioral Neuroscience</a> (Honors thesis)</td></tr>
        <tr><td>2015</td><td>Northeastern Alex Skavenski Award for Excellence in Behavioral Neuroscience</td></tr>
        <tr><td>2015</td><td>Northeastern Sears B. Condit Award for academic achievement</td></tr>
        <tr><td>2015</td><td>Northeastern Dean's List (6 semesters)</td></tr>
        <tr><td>2015</td>
            <td><a href="https://www.rhodeshouse.ox.ac.uk/">Rhodes</a>,
                <a href="https://us.fulbrightonline.org/">Fulbright</a>, and
                <a href="https://www.us-irelandalliance.org/content/3/en/George%20Mitchell%20Scholarship%20Program%20%7C%20US-Ireland%20Alliance.html">
                    Mitchell Scholarship</a> Finalist</td></tr>
    </table>

    <!-- ------------------------------------------------------------------------- -->
    <hr/>

    <h1 id="publications"><a class="section" href="#publications">Publications</a></h1>

    {% for post in site.categories.publications %}
        {% if post.tags contains 'paper' %}
            <p>
                {% include paper-citation.html %}
                {% if post.file %}
                    <a href="{{ site_baseurl }}/assets/pdfs/{{post.file}}"><i class="mdi mdi-book mdi-left"></i></a>
                {% endif %}
            </p>
        {% endif %}
    {% endfor %}

    <p><i>[ In preparation ]</i> &nbsp; S. Bazzi, <b>J. T. Ebert</b>, N. Hogan, and D. Sternad. Stability Analysis of Human Movement: Contraction Theory as a New Tool.</p>

    <p><i>[ In preparation ]</i> &nbsp; S. Park, <b>J. Ebert</b>, and D. Sternad. Asymmetric Learning in an Asymmetric Bimanual
        Task.</p>

    <p><i>[ In preparation ]</i> &nbsp; I. Farkhatdinov, <b>J. Ebert</b>, G. van Oort, E. van Asseldonk, and E. Burdet. Experiments on Human Balancing Co-Control in Standing.</p>

    <!-- ------------------------------------------------------------------------- -->
    <hr/>

    <h1 id="conferences-presentations"><a class="section" href="#conferences-presentations">Conference Abstracts and Posters</a></h1>

    {% for post in site.categories.publications %}
        {% if post.tags contains 'poster' %}
            <p>
                {% include paper-citation.html %}
                {% if post.file %}
                <a href="{{ site_baseurl }}/assets/pdfs/{{post.file}}"><i class="mdi mdi-file mdi-rotate-90"></i></a>
                {% endif %}
            </p>
        {% endif %}
    {% endfor %}

    <!-- ------------------------------------------------------------------------- -->
    <hr/>

    <h1 id="talks"><a class="section" href="#talks">Talks</a></h1>

    <p><b>J. Ebert</b>."Bioinspired Collective Robotics," <i>University of Queensland;</i> 14 May 2018.</p>
    <p><b>J. Ebert</b>, M. Gauci, and R. Nagpal, "Collective Perception and Decision Making in Heterogeneous Swarms,"
    <i>Wyss Institute Molecular Robotics Initiative;</i> 14 September 2017.</p>

    <!-- ------------------------------------------------------------------------- -->
    <hr/>

    <h1 id="teaching"><a class="section" href="#teaching">Teaching</a></h1>

    <h2>Harvard University</h2>
    <p>CS 189: Autonomous Robot Systems, Teaching Fellow, <span class="date">Spring 2018</span></p>

    <h2>Northeastern University</h2><br/>
    <p>CS 2510: Fundamentals of Computer Science: Teaching Assistant, <span class="date">2014 – 2015</span><br/>
       CS 2510: Fundamentals of Computer Science: Tutor, <span class="date">2011 – 2014</span><br/>
       Proactive Recruitment in Science and Mathematics (PRISM), Undergraduate Mentor, <span class="date">2011 – 2013</span></p>

    <!-- ------------------------------------------------------------------------- -->
    <hr/>

    <h1 id="employment"><a class="section" href="#employment">Employment</a></h1>

    <h2>Interactive Motion Technologies</h2>
    <p>Software Development Co-op, <span class="date">July – September 2014</span></p>

    <!-- ------------------------------------------------------------------------- -->
    <hr/>

    <h1 id="outreach"><a class="section" href="#outreach">Outreach</a></h1>

    <table>
        <tbody>
        <tr><td>May 2018</td><td>Guest, Brains On! science podcast for kids</td></tr>
        <tr><td>2017, 2018</td><td>Volunteer, Boston Public Schools Science Fair</td></tr>
        </tbody>
    </table>

    <!-- ------------------------------------------------------------------------- -->
    <hr/>


    <h1 id="service"><a class="section" href="#service">Service</a></h1>

    <table>
        <tbody>
        <tr><td>2016</td><td>EuroHaptics 2016 Volunteer</td></tr>
        <tr><td>2010 – 2015</td><td>Northeastern Civic Engagement Program</td></tr>
        <tr><td>2014 – 2015</td><td>Boston Bikes: Volunteer</td></tr>
        <tr><td>2014</td><td>Tutor team leader at TechBoston Academy</td></tr>
        <tr><td>2011 – 2013</td><td>Brigham and Women's Hospital: Medical Career Exploration Program volunteer</td></tr>
        <tr><td>2010 – 2011</td><td>Massachusetts General Hospital: Youth Program mentor</td></tr>
        </tbody>
    </table>

    <!--------------------------------------------------------------------------- -->
    <hr/>

    <h1 id="skills"><a class="section" href="#skills">Skills</a></h1>

    <h2>Programming</h2>
    <p>Python (including Django, NumPy, SciPy) • MATLAB • C/C++ (including OpenMP, AVR, Arduino) • HTML/CSS • LaTeX • JavaScript • Java</p>

    <h2>Fabrication</h2>
    <p>Laser cutting • 3D printing • Vinyl cutting • CNC milling, ShopBot • Electronics design (Eagle) and production • Soldering • Sewing • Molding and casting</p>

    <h2>Other</h2>
    <p>Computer-aided design (OnShape) • Database design • Linux • Embedded programming • 3D motion capture • Kinematic and EEG data collection in human subjects</p>

    <!--------------------------------------------------------------------------- -->
    <hr/>

    <h1 id="courses"><a class="section" href="#courses">Relevant Coursework</a></h1>

    <h2>Computer Science</h2>
    <p>Biologically-inspired Multi-agent Systems • Distributed Systems • Machine Learning • Network Algorithms •
        Computational Neurodynamics • Artificial Intelligence • Robotics</p>

    <h2>Science</h2>
    <p>How to Make (Almost) Anything • Biomimetics • Comparative Neurobiology • Human Neuroanatomy • Biochemistry •
        Genetics and Molecular Biology • Organic Chemistry</p>

    <h2>Mathematics</h2>
    <p>Biological Signal Processing • Statistics and Data Analysis • Multivariable Calculus • Linear Algebra • Differential Equations</p>

    <!--------------------------------------------------------------------------- -->
    <hr/>

    <h1 id="interests"><a class="section" href="#interests">Activities and Interests</a></h1>

    <p>Harvard University curling team<br/>
    Imperial College fencing club<br/>
    Northeastern University pep band, drumline, and wind ensemble</p>

    <p>Cycling &bull; Web design and development &bull; Graphic design &bull; Writing &bull; Baking</p>

</div>