.outer-container {
  padding-top: $grid-gutter-width / 2;
}

// Name in 2nd box
.in .name {
  font-variant: normal;
  text-transform: none;
  margin: 66px 0 0 24px;
  font-weight: 200;
  line-height: 66px;
  font-size: 60px;

  b {
    font-weight: 300;
  }
}

#logo-box a {
  #logo-dark { display: block; }
  #logo-light { display: none; }
}
#logo-box a:hover {
  #logo-dark { display: none; }
  #logo-light { display: block; }
}

// Set Fonts

// Section
h1 {
  font-variant: small-caps;
  text-transform: uppercase;
  font-family: $title-font, sans-serif;
  font-weight: 300;
  font-size: 2em;
  margin: 1em 0;
}

.content > h1 {
  display: inline-block;
  position: relative;
  padding-left: 2em;
  vertical-align: middle;

  i.fa {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.4em; // half height of icon
    color: $accentColor;
  }
  i.mdi {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -26px; // half height of icon
    color: $accentColor;
  }
}

// Subsection
h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: $body-font-bold, sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}

// Descriptor
h3 {
  font-family: $title-font, sans-serif;
  font-weight: 300;
  font-size: 1.4em;
}

// Location
h4 {
  font-family: $body-font, sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  // color: #555;
}

h5 {
  font-family: $body-font, sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

a {
  color: $accentColor;
  //font-family: $body-font, sans-serif;
  //font-weight: 500;
  text-decoration: underline;

  &:hover, &:visited:hover {
    color: $mainColor;
  }

  &:visited {
    color: $darkAccentColor;
  }
}


// Boxes

// Make it a square
.dummy {
  padding-top: 100%;
}

.fill {
  background-color: $foreground;
}

.content {
  background-color: $foreground;
  color: $darkText;
  padding: 16px 32px 24px 32px;

  h3, h4 {
    margin-bottom: .4em;
    margin-top: .4em;
  }

  .row figure {
    margin-bottom: 16px;
  }

  .row figcaption {
    margin-top: 8px;
    color: $gray-light;
  }

  .row img {
    width: 100%;
  }
}

hr {
  height: 2px;
  border: 0;
  background: $accentColor;
  margin: 24px 0;
  display: block;
  clear: both;
}

img.in {
  // TODO: Find some way to actually use $grid-gutter-width
  max-width: calc(100% - 16px);
  max-height: calc(100% - 16px);
  margin: auto;
}

.in {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: $grid-gutter-width / 2;

  a:hover {
    color: $secondaryText;
  }

  // Titles in Boxes
  h1 {
    margin: 0;
    margin-bottom: 4px;
  }

  h4 {
    color: $primaryText;
  }
}

a .in {
  text-decoration: none;
  color: $primaryText;
}

a:hover .in, a:visited:hover .in {
  background-color: $accentColor;

  h1, h2, h3, h4, h5, h6, p {
    color: $secondaryText;
  }
}

.text-box {
  padding: 12px;
  line-height: 1.15em;
}

.logo-box {
  padding: 16px;
}

// For spacing between boxes
.box-vert-padding {
  padding-top: $grid-gutter-width / 2;
  padding-bottom: $grid-gutter-width / 2;
}

.content-vert-margin {
  margin: $grid-gutter-width / 2 0;
}

.links {
  list-style: none;
  margin: 0 -12px;
  padding: 0;

  a {
    display: block;
    width: 100%;
    padding: .6em 1em .6em 2.6em;
    text-decoration: none;
    color: inherit;
    position: relative;
    vertical-align: middle;

    i.fa, i.mdi {
      position: absolute;
      left: 0;
      color: $accentColor;
      //top: 50%;
      //margin-top: -0.4em;
    }

    &:hover {
      background-color: $accentColor;
      //text-decoration: none;
      i.fa, i.mdi {
        color: $secondaryText;
      }
    }
  }
}

blockquote {
  border-left-color: $accentColor;
  background-color: $darkForeground;
  font-size: 1em;
  font-style: normal;
  color: inherit;

  p {
    margin: .4em 0;
  }

  blockquote h3 {
    margin-bottom: 1em;
  }
}

pre {
  border: none;
  background-color: $darkForeground;
  border-radius: 0;
  font-size: 0.9em;
}

code {
  //font-family: 'Droid Sans Mono', monospace;
}


// Navigation menu
#nav {
  padding: 0;
  font-size: 1.15em;
  list-style: none;
  margin: 0;
  font-weight: 500;

  a {
    display: block;
    width: 100%;
    padding: 4px 8px;
    text-decoration: none;
    color: inherit;
    font-family: $title-font, sans-serif;

    i.fa, i.mdi {
      color: $accentColor;
    }
  }

  a:hover {
    background-color: $accentColor;
    text-decoration: none;
    color: $secondaryText;
    i.fa, i.mdi {
      color: $secondaryText;
    }
  }
}

.inline {
  display: inline;
  line-height: 1.5em;
  margin: 8px 4px 2px 0;
}

// For small header fonts (CV, boxes)
.in, .cv {
  // Section
  h1 {
    font-size: 1.5em;
  }
  // Subsection
  h2 {
    margin-top: 12px;
    font-size: 1.1em;
    color: inherit;
  }
  // Descriptor
  h3 {
    margin-top: 12px;
    font-size: 1em;
    color: inherit;
  }
  // Location
  h4 {
    font-size: 1em;
    color: inherit;
  }
  span.div {
    margin: 0 6px;
  }
  p {
    font-size: 0.95em;
    margin-top: 0;
  }
}

// CV Fonts
.cv {

  a {
    color: inherit;
  }
  a:hover {
    color: $link-hover-color;
  }
  h2, h3, h4 {
    display: inline;
    text-transform: none;
  }

  // Subsection
  h2 {
    margin: 8px 4px 2px 0;
  }

  // Date
  h4 {
    margin: 2px 4px 2px 0;
  }

  a.section, a.section:hover, a.section:visited {
    color: inherit;
    text-decoration: none;
  }
  p, h4 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-family: $body-font, sans-serif;
  }

  table {
    margin: 4px 0 8px 0;

    td {
      padding: 2px 4px;
      vertical-align: top;
    }
    td:nth-child(1)  {white-space: nowrap;}
  }

  hr.sep {
    height: 1px;
    border: 0;
    background: none;
    margin: 10px 0;
    display: block;
    clear: both;
  }

  .date {
    color: $gray-light;
    margin-left: 8px;
  }
}

// Font Awesome Spacing

.fa, .mdi {
  margin: 0 8px;
}
.fa-left, .mdi-left {
  margin-left: 0;
}
.fa-right, .mdi-right {
  margin-right: 0;
}

// Footer

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


// TODO: Make this look nicer on mobile size
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: $secondaryText;

  .row {
    padding-top: 20px;
  }

  a, a:visited {
    text-decoration: none;
    color: $lightText;
  }

  a:hover, #footer a:visited:hover {
    color: $accentColor;
  }

  .footer-contents {
    text-align: center;

    > div {
      display: inline-block;
    }
  }

  .footer-item {
    display: inline-block;
    margin: 0 16px 8px 16px;
  }
}


// Change font size as box sizes change

@media (max-width: $screen-md) {
  body{font-size: 16px;}
}
@media (max-width: $screen-sm - 1) {
  body{font-size: 4vw;}

  .in.logo-box {
    padding: 16px;
  }
  .text-box {
    font-size: 0.9em;
    padding: 8px;
  }
  img.in {
    padding: 0;
  }

  #nav {
    font-size: 1.2em;
    a {
      padding: 1px 4px;
    }
  }

  .links {
    margin: 0 -8px;
  }
}