html, body {
	padding: 0;
	margin: 0;
	background-color: #34495e;
	font-size: .95em;
	font-family: 'Droid Sans', 'Arial', sans;
	height: 100%;
	color: #333;
}

.fa {
    margin: 0 .5em;
}
.fa-left {
    margin-left: 0;
}
.fa-right {
    margin-right: 0;
}

h1, h2, .box h3, #nav a {
	font-family: 'roboto_slabbold', serif;
}

h3 { /* Item Headers */
    font-size: 1.1em;
    font-weight: normal;
}

h4 { /* Item extras */
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
	margin: 0;
	margin-bottom: .8em;
}

h5 { /* Basically normal text... */
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    margin: 0;
}

p {
	margin: 0 .4em .4em .4em;
}

ul {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

a {
    color: #34495e;
}

a:hover, a:visited:hover {
    color: #d35400;
}

a:visited {
    color: #2c3e50;
}

/* boxes */
.box, .box div, .box#menu-box, .divider2 {
	background-color: #e67e22;
}

/* boxes hover */
.box ul a:hover, #nav a:hover, .box a:hover div {
	background-color: #d35400;
}

.main-container {
    margin: auto;
	width: 60.01em;
	padding: 1em;
}

.level2-container {
	clear: both;
}

.row {
    float: left;
}

.box {
	width: 14em;
	height: 14em;
	margin: .5em;
	display: inline-block;
	float: left;
	overflow: hidden;
	color: #fff;
}

.box a:hover, .box a:visited:hover {
    color: inherit;
}

#nav {
	padding: 0;
	font-size: 1.2em;
}

#nav a {
    display: block;
    width: calc(100% - 1em);
    padding: .4em .5em;
}

.links {
	list-style: none;
	margin: 0;
    margin-left: -1em;
    padding: 0;
}

.links a {
	display: block;
	width: 100%;
	padding: .6em 1em;
}

.content-container .box {
	background-color: transparent;
}

.box a {
	text-decoration: none;
	color: #fff;
}

.box img {
	max-width: 100%;
	max-height: 100%;
}

.box div {
	width: 12em;
	height: 12em;
	padding: 1em;
	margin: 0;
}

.box div img {
    margin: .5em;
    max-width: calc(100% - 1em);
    max-height: calc(100% - 1em);
}

.box div h1 {
	margin: 1.4em 0 0 .2em;
	vertical-align: bottom;
	line-height: 1.1em;
	font-size: 3.25em;
}

.box div h3 {
	margin: -.25em 0 0 0;
	font-size: 1.5em;
	margin-bottom: .25em;
}

.box div p {
	margin: 0 0 .5em 0;
	line-height: 1.15em;
}


/*** Main content ***/


.content {
    margin: .5em;
    float: left;
    background-color: #ecf0f1;
    padding: 1em 2em 1.5em 2em;
    width: 40em;
}


.content h2, .content h3, .content h4 {
	margin-bottom: .4em;
	margin-top: .4em;
}


/*** Media Table ***/


.divider1 {
    clear: left;
    float: left;
    width: 100%;
    margin-top: 1em;
}
.divider2 {
    width: 100%;
    height: 2px;
    margin-bottom: 1.5em;
    clear: both;
    /float: left;
}

figure {
    margin: 0;
    float: left;
    margin: 0 1em 1em 0;
}

figure img {
    max-width: 16em;
    max-height: 16em;
}

figcaption {
    font-size: .8em;
    margin-top: .75em;
}


/**** Listing table (cv) ****/


.listing {
	border-top: 2px solid #e67e22;
	width: 100%;
	margin-bottom: 1em;
}

.listing h2 {
    margin: .4em 0;
}

.listing th {
    text-align: left;
}
.listing th a, .listing th a:hover, .listing th:visited {
    color: inherit;
    text-decoration: none;
}

.listing td {
    padding-bottom: .5em;
}

.listing td:first-child {
	width: 38em;
}

.listing td:nth-child(2) {
    min-width: 10em;
    padding-left: .5em;
}

.listing h3 {
    font-weight: bold;
}

.listing h3, .listing h4, .listing h5 {
	margin: 0;
	margin-bottom: .3em;
}

.listing td {
	vertical-align: top;
}

.listing h3 {
    margin-top: 0;
}

.listing p {
	margin-left: 2em;
}


/*** Footer ***/


#footer {
    height: 4em;
    width: 100%;
    padding-top: 1em;
    clear: both;
    position: relative;
}

#footer ul {
	clear:left;
	float:left;
	list-style:none;
	margin: .5em 0;
	padding:0;
	position:relative;
	left: 50%;
	text-align:center;
}

#footer ul li {
	display: table-cell;
	vertical-align: middle;
	float:left;
	list-style:none;
	line-height: 2em;
	padding: 0 1.5em;
	position:relative;
	right:50%;
	color: #fff;
}

#footer a, #footer a:visited {
    text-decoration: none;
    color: #e67e22;
}

#footer a:hover, #footer a:visited:hover {
    color: #fff;
}
